.heading{
    text-align: left;
    color: rgb(31, 31, 82);
    margin-top: 1em;
}

/*.contact-github:hover {*/
    /*opacity: .8;*/
/*}*/

/*.contact-email:hover {*/
    /*opacity: .8;*/
/*}*/

/*.contact-linked:hover {*/
    /*opacity: .8;*/
/*}*/

.contactIcons {
}
