.heading{
    text-align: left;
    color: rgb(31, 31, 82);
    margin-top: 1em;
}

.social-icons a{
  font-size: 100px;
  margin-right: 1em;
	color: #B58900;
}

.fab:hover {
  cursor: pointer;
  color: purple;
  scale: 1.1;
}
.fa:hover {
  cursor: pointer;
  color: purple;
  scale: 1.1;
}