.heading{
    text-align: left;
    color: rgb(31, 31, 82);
    margin-top: 1em;
}

.hover-images{
    width: 8em;
    margin-top: 0.25em;
    margin-Left: 1em;
}
.hover-images:hover{
    background-color: rgb(255, 255, 255);
      mix-blend-mode:hard-light;
      color: rgb(182, 55, 182);
}
