table {
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
    
  }
  
  td{
    border: 1px solid #4ebe8a;
    text-align: left;
    padding: 1em;
  }

  th {
      background-color: #f8e5e5;
      border: 1px solid #4ebe8a;
      text-align: left;
      padding: 1em;
  }
  
.bioInfo{
    /* text-align: left;
    text-align: top; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    
}
.GitHubChart{
    margin-left: 0.10em;
    margin-top: 0.25em;

}
.LinkedIn:hover{
    background-color:lightblue;
  mix-blend-mode: hard-light;
  color:purple;
}

.GitHubIcon:hover{
    background-color:lightblue;
  mix-blend-mode: hard-light;
  color:purple;
}

table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}


