.navbar {
  margin-top: 1em;
}
/* 
.container {
  background-color: ghostwhite;
  margin-left: 12em;
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
} */

.navbar-brand {
  background-color: hsl(120, 46%, 78%);
  
  padding-right: 1em;
  padding-left: 1em;
  border-style: double;
  border-color: lightseagreen;
}
.nav-item {
  background-color: lightcyan;
 
  border-style: double;
  border-color: lightseagreen;
  
}

a:hover {
  background-color: lightpink;
  
}
