h1{
    text-align: left;
    padding-top:0.75em;
}

p{
    text-align: left;
}

.btn{
 margin-left: 2em;
}
.container{
    margin-bottom: 2em;
}
.h2{
    text-align: left;
}

.project{
    margin-top: 2em;
}